<%- include('partials/header'); -%>


<form class="" action="/delete" method="post">

<h1> <%= pageTitle %> </h1>
<p> <%= pageContent %> </p>

<button type="submit" name="button" class="btn btn-primary p-3" value="<%= pageTitle %>"> Delete this Post </button>
</form>

<%- include('partials/footer'); -%>
